body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

.text-ganbatte-nav {
  font-weight: 600;
}

.navbar {
  background-color: #ffd79c;
  font-weight: 600;
}

.section-jumbotron {
  background-color: #ffd79c;
}

.right-img {
  margin-top: 80px;
  margin-bottom: 200px;
}

.left-img {
  margin-top: 100px;
}
.left-img .p-info {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.btn-get-started {
  width: 160px;
  background-color: #ff9900;
  color: white;
  margin-left: 10px;
  font-weight: 600;
  padding: 10px;
  border-radius: 100px;
}
.btn-get-started:hover {
  color: #ff9900;
  border: 2px solid #ff9900; /* Green */
}

.get-waves {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: -280px;
}

.get-waves svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-content .judul {
  position: relative;
  margin-top: -200px;
  margin-bottom: 10px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.container-content .judul-mobile {
  position: relative;
  margin-top: -40px;
  margin-bottom: 30px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.container-content .why {
  margin-bottom: 200px;
}
.container-content .col-card-mobile {
  margin-bottom: 10px;
}
.container-content .col-card {
  margin-top: -120px;
}
.container-content .card-illustration {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.container-content .card-illustration .image-style {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container-content .card-illustration .card-title {
  font-weight: 600;
  color: #ff9900;
}
.container-content .card-illustration .card-text {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
}

.about-us .judul-about-us {
  margin-top: -160px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.about-us .paragraf {
  color: #888888;
}

.contact-us .judul-contact-us {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.contact-us .paragraf {
  color: #888888;
}
.contact-us .paragraf-contact {
  color: #888888;
  margin-top: -14px;
}

.portofolio .judul-portofolio {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.portofolio .paragraf {
  color: #888888;
}
.portofolio .paragraf-portofolio {
  color: #888888;
  margin-top: -14px;
}
.portofolio .card-portofolio {
  margin-top: 20px;
}

/* Chatbox Whatsapp */
:root {
  --warna-background: #4dc247; /* Warna background header dan tombol chat */
  --warna-bg-chat: #f0f5fb;
  --warna-icon: #fff; /* Warna icon chat */
  --warna-text: #505050;
  --warna-text-alt: #989b9f;
  --lebar-chatbox: 320px;
}

svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: var(--warna-icon);
}

.chatMenu,
.chatButton .svg-2 {
  display: none;
}

.chatButton {
  position: fixed;
  background-color: var(--warna-background);
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  z-index: 20;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-out;
}

.chatButton svg {
  margin: auto;
  fill: var(--warna-icon);
}

.chatBox {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: var(--lebar-chatbox);
  transition: all 0.2s ease-out;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  line-height: normal;
}

.chatContent {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.chatHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--warna-background);
  overflow: hidden;
}

.chatHeader svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  fill: var(--warna-icon);
}

.chatHeader .chatTitle {
  padding-right: 15px;
  font-size: 14px;
  color: var(--warna-icon);
}

.chatHeader .chatTitle span {
  font-size: 11.5px;
  display: block;
  line-height: 1.58em;
}

.chatText {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 20px;
  font-size: 12px;
  color: var(--warna-text);
}

.chatText span {
  display: inline-block;
  margin-right: auto;
  padding: 10px 10px 10px 20px;
  background-color: var(--warna-bg-chat);
  border-radius: 3px 15px 15px;
}

.chatText span:after {
  content: "Just now";
  margin-right: 15px;
  font-size: 9px;
  color: var(--warna-text-alt);
}

.chatText .typing {
  margin: 15px 0 0 auto;
  padding: 10px 20px 10px 10px;
  border-radius: 15px 3px 15px 15px;
}

.chatText .typing after {
  display: none;
}

.chatStart {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 18px 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  font-size: 12px;
  color: var(--warna-text);
}

.chatMenu:checked + .chatButton {
  transform: rotate(360deg);
}

.chatMenu:checked + .chatButton .svg-1 {
  display: none;
}

.chatMenu:checked + .chatButton .svg-2 {
  display: block;
}

.chatMenu:checked ~ .chatBox {
  bottom: 90px;
  opacity: 1;
  visibility: visible;
}

/* End Chatbox Whatsapp */
footer .section-footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;
  min-height: 200px;
}
footer .section-footer p {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 14px;
}
footer .section-footer .h1-footer {
  margin-top: 20px;
  font-size: 20px;
  color: #ff9900;
}
footer .section-footer .h1-footer .media-style {
  color: #FFFFFF;
}
footer .section-footer .instagram-link {
  text-decoration: none;
}
footer .section-footer .facebook-link {
  text-decoration: none;
}
footer .section-footer .youtube-link {
  text-decoration: none;
}
footer .section-copyright {
  border-top: 1px solid #4D4D4D;
  background-color: #000000;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
footer .section-copyright p {
  color: #FFFFFF;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */