body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
}

$primary-color: #ff9900;
$font-color: #888888;

.text-ganbatte-nav {
  font-weight: 600;
}

.navbar {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffd79c;
  // text-align: center;
  font-weight: 600;
  // background-color: white;
}

.section-jumbotron {
  background-color: #ffd79c;
}

.right-img {
  margin-top: 80px;
  // margin-left: 10px;
  margin-bottom: 200px;
}

.left-img {
  margin-top: 100px;

  .p-info {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
}

.btn-get-started {
  width: 160px;
  background-color: $primary-color;
  color: white;
  margin-left: 10px;
  font-weight: 600;
  padding: 10px;
  border-radius: 100px;

  &:hover {
    color: $primary-color;
    border: 2px solid $primary-color; /* Green */
  }
}

.get-waves {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  // background: rgba(0,0,0,0.1)
  margin-top: -280px;
}
.get-waves svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-content {
  .judul {
    position: relative;
    margin-top: -200px;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  .judul-mobile {
    position: relative;
    margin-top: -40px;
    margin-bottom: 30px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  .why {
    margin-bottom: 200px;
  }
  .col-card-mobile {
    // margin-top: -130px;
    margin-bottom: 10px;
  }
  .col-card {
    margin-top: -120px;
  }
  .card-illustration {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    .image-style {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card-title {
      font-weight: 600;
      color: $primary-color;
    }

    .card-text {
      color: $font-color;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.about-us {
  .judul-about-us {
    margin-top: -160px;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

  .paragraf {
    color: $font-color;
  }
}

.contact-us {
  .judul-contact-us {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

  .paragraf {
    color: $font-color;
  }

  .paragraf-contact {
    color: $font-color;
    margin-top: -14px;
  }
}

.portofolio {
  .judul-portofolio {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

  .paragraf {
    color: $font-color;
  }

  .paragraf-portofolio {
    color: $font-color;
    margin-top: -14px;
  }

  .card-portofolio {
    margin-top: 20px;
  }
}

/* Chatbox Whatsapp */
:root {
  --warna-background: #4dc247; /* Warna background header dan tombol chat */
  --warna-bg-chat: #f0f5fb;
  --warna-icon: #fff; /* Warna icon chat */
  --warna-text: #505050;
  --warna-text-alt: #989b9f;
  --lebar-chatbox: 320px;
}

svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: var(--warna-icon);
}
.chatMenu,
.chatButton .svg-2 {
  display: none;
}

.chatButton {
  position: fixed;
  background-color: var(--warna-background);
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  z-index: 20;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.chatButton svg {
  margin: auto;
  fill: var(--warna-icon);
}

.chatBox {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: var(--lebar-chatbox);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
  line-height: normal;
}
.chatContent {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.chatHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--warna-background);
  overflow: hidden;
}
.chatHeader svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  fill: var(--warna-icon);
}
.chatHeader .chatTitle {
  padding-right: 15px;
  font-size: 14px;
  color: var(--warna-icon);
}
.chatHeader .chatTitle span {
  font-size: 11.5px;
  display: block;
  line-height: 1.58em;
}

.chatText {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 20px;
  font-size: 12px;
  color: var(--warna-text);
}
.chatText span {
  display: inline-block;
  margin-right: auto;
  padding: 10px 10px 10px 20px;
  background-color: var(--warna-bg-chat);
  border-radius: 3px 15px 15px;
}
.chatText span:after {
  content: "Just now";
  margin-right: 15px;
  font-size: 9px;
  color: var(--warna-text-alt);
}
.chatText .typing {
  margin: 15px 0 0 auto;
  padding: 10px 20px 10px 10px;
  border-radius: 15px 3px 15px 15px;
}
.chatText .typing after {
  display: none;
}

.chatStart {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 18px 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  font-size: 12px;
  color: var(--warna-text);
}
.chatMenu:checked + .chatButton {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.chatMenu:checked + .chatButton .svg-1 {
  display: none;
}
.chatMenu:checked + .chatButton .svg-2 {
  display: block;
}
.chatMenu:checked ~ .chatBox {
  bottom: 90px;
  opacity: 1;
  visibility: visible;
}
/* End Chatbox Whatsapp */

// Footer
footer {
  .section-footer {
    margin-top: 100px;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #000000;
      min-height: 200px;

      p {
          margin-top: 20px;
          color: #FFFFFF;
          font-size: 14px;
      }
      
      .h1-footer {
          margin-top: 20px;
          font-size: 20px;
          // font-family: $primary-font;
          color: $primary-color;

          .media-style {
              color: #FFFFFF;
          }
      }

      .instagram-link {
          text-decoration: none;
      }

      .facebook-link {
          text-decoration: none;
      }

      .youtube-link {
          text-decoration: none;
      }
  }

  .section-copyright {
      border-top: 1px solid #4D4D4D;
      background-color: #000000;
      height: 40px;
      padding-top: 20px;
      padding-bottom: 40px;

      p {
          color: #FFFFFF;
          font-size: 14px;
      }
  }
}

